   
     <div class="card" >
      <div class="upper_card">
        <div class="card-image">
          <img  src="{{image}}" alt="Product Image" style="max-width: 100%;  ">
          </div>
      </div>
      <div class="lower_card">
        <div class="description">{{title}}</div>
        <div class="card-price">Price: {{price}}</div>
        <div class="rating">Rating: {{rating}}</div>
        <button class="compare_btn" onclick="compare('{{title}}', '{{link}}')">Compare Prices</button>
      </div>
    </div>


